.main-body {
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  background-color: #001118;
  background-image: url("../web_appll.jpg");
  /*width: 70%;*/
  /*max-width: 70%;*/
  /*manipulates the div that contains the messages.*/
  margin-top: 67%;
  min-height: 80rem;
}

.buffer {
  margin-top: 44%;
}

.comment_buffer {
  margin-top: 10px;
  margin-left: 10px;
}

.comment_section {
  height: 50px; 
}

.body {
  display: flex;
  flex-direction: column; 
  word-wrap: break-word;
}

.inner-body {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.comment_container {
  word-wrap: break-word;
}

.google_maps {
  width: 90px;
  height: 500px;
}

.tweet-body {
  display: flex;
  /*manipulates the div that contains the messages.*/
  max-width: 400px;
  min-width: 133px;
  /*margin keeps the divs centered when resizing window*/
  margin-left: 33%;
  margin-right: 33%;
  height: 60%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  background-color: #15202a;
}

/*not needed*/
.serch_button {
  border-radius: 15px;
  color: red;
  width: 200px;
  height: 100px;
}

.tweet-body:hover { 
  background-color: #11171d;
  border: #ffffff;
}

.picture {
  margin-left: 24px;
  margin-top: 17px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.name {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 19px;
  min-width: 85px;
  height: 17px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #75797d;
}

.handle {
  margin-left: 10px;
  margin-top: 19px;
  min-width: 128px;
  height: 16px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #75797d;
}

.tweet {
  margin-left: 15px;
  margin-top: 7px;
  /*keeps text from message inside div*/
  /*width: ~300px */
  width: 94%;
  /*max-width: 300px;*/
  /*height: 88px;*/
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  /*word-wrap: break-word;*/
  /*wraps text in div actively for short strings*/
  text-overflow: ellipsis;
  /*helps keep long strings in the div*/
  max-width: 570px;
  /*overflow: break-word;*/
  color: #ffffff;
  /*cuts down and wraps long strings in to the div*/
  word-wrap: anywhere;
}

.school_title {
  color: white;
  margin-top: 14%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: HelveticaNeue;
}

.googlemap_container {
}
